keyring==18.0.1
importlib_metadata==1.5.0
colorama==0.4.3
certifi==2019.11.28
service_identity==18.1.0
requests==2.22.0
aiohttp==3.7.4.post0
aiohttp_cors==0.7.0
argon2pure==1.3
asgiref==3.4.0
Babel==2.9.1
bcryptor==1.2.2
blinker==1.4
contextvars==2.4
ctypes_snappy==1.03
curio==1.5
Cython==0.29.23
dataclasses==0.8
fastpbkdf2==0.2
flask_babel==2.0.0
flask_babelex==0.9.4
flask_debugtoolbar==0.11.0
gevent==21.1.2
greenlet==1.1.0
ipaddr==2.2.0
kerberos==1.3.1
mongomock==3.23.0
monotime==1.0
nose==1.3.7
numpy==1.21.0
ordereddict==1.1
Pillow==8.2.0
protobuf==3.17.3
pymongo_auth_aws==1.0.2
pymongocrypt==1.1.0
pyOpenSSL==20.0.1
pytest==6.2.4
python-dotenv==0.18.0
requests_toolbelt==0.9.1
secrets==1.0.2
sniffio==1.2.0
trio==0.19.0
typed_ast==1.4.3
typing_extensions==3.10.0.0
unittest2==1.1.0
uvloop==0.15.2
watchdog==2.1.3
wincertstore==0.2.1
winkerberos==0.8.0
zstandard==0.15.2
